@page
@model API.Models.Course

<h1>Course</h1>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CourseName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CourseDesciption)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseDesciption)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CourseData)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseData)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CourseText)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseText)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CourseTextRecom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseTextRecom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CourseTextWarning)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseTextWarning)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author.UserFirstName)
        </dd>
    </dl>
</div>
