@using API.Models
@model Course

@{
    ViewData["Title"] = "Курсы";
}

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h2>@Model.CourseName</h2>
            <p>@Model.CourseDesciption</p>
            <hr>
            <div>
                <h4>Курс</h4>
                <textarea id="courseText" class="form-control" rows="1" style="height: auto;" readonly>@Model.CourseText</textarea>
            </div>
            <div>
                <h4>Рекомендации</h4>
                <textarea id="courseTextRecom" class="form-control" rows="1" style="height: auto;" readonly>@Model.CourseTextRecom</textarea>
            </div>
            <div>
                <h4>Предупреждения</h4>
                <textarea id="courseTextWarning" class="form-control" rows="1" style="height: auto;" readonly>@Model.CourseTextWarning</textarea>
            </div>
            <hr>
            <div>
                <h4>Дополнительные материалы</h4>
                <p>@Model.CourseData</p>
            </div>
            <hr>
        </div>
    </div>
</div>

<script>
    window.onload = function () {
        adjustTextareaHeight('courseText');
        adjustTextareaHeight('courseTextRecom');
        adjustTextareaHeight('courseTextWarning');
    };

    function adjustTextareaHeight(id) {
        var textarea = document.getElementById(id);
        textarea.style.height = 'auto';
        textarea.style.height = textarea.scrollHeight + 'px';
    }
</script>




